@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --red: #ff4747;
  --white: #fafcff;
  --white-variant: #f5f2f2;
  --white-variant-two: #e5e2e2;
  --white-variant-three: #d1cdcd;
  --flavor: #ff4747;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}
